<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://localhost/OnlineExaminationSystem</SiteUrlToLaunchAfterPublish>
    <publishUrl>G:\downloads\WebSite</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SUMIT;Initial Catalog=OnlineExam;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SUMIT;Initial Catalog=OnlineExam;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)logindbEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OnlineExamEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OnlineExamEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OnlineExamEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OnlineExamEntities3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OnlineExamEntities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SUMIT;Initial Catalog=OnlineExam;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UserdbConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UserdbEntities-Web.config Connection String" />
  </ItemGroup>
</Project>